@import "../../node_modules/@blueprintjs/core/dist/blueprint.css";

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: none;
    overflow-x: hidden;
}

.header {
    height: 80px;
    background-color: #373B50;
    font-size: 30px;
    font-weight: 700;
    color: #7ac6cf;
}

.main {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
}

.input-dataset-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 0 0 300px;
}

.input-dataset-title {
    background-color: #373B50;
    color: white;
    font-size: 20px;
    padding: 5px;
}

.input-dataset-list-container {
    display: flex;
}

.input-dataset-list {
    overflow-y: auto;
    width: 50%;
}

.input-dataset-info {
    width: 50%;
    margin: 10px 0 5px 10px;
    padding: 10px;
    background-color: #373B50;
    color: #7ac6cf;
    display: flex;
    flex-direction: column;
}

.input-dataset-info-line {
    display: flex;
}

.input-dataset-info-title {
    flex: 0 0 100px;
    font-weight: 700;
}

.input-dataset-info-content {
    padding: 0 0 0 10px;
    color: white;
}

.input-dataset-info-empty {
    color: white;
}

.input-dataset-list::-webkit-scrollbar {
    background-color: #373b50;
    width: 12px;
}

.input-dataset-list::-webkit-scrollbar-thumb {
    background-color: #7ac6cf;
}

.submit-button-container {
    margin: 10px;
}

.response-container {
    margin: 10px;
}

.pt-button.pt-intent-primary {
    background: #373B50 none;
    color: white;
}

.margin-right-10 {
    margin-right: 10px;
}

.pt-button.pt-intent-primary:hover {
    background: black none;
    color: white;
}

.portal-footer {
    display: flex;
    flex: 0 0 30px;
    background-color: #373B50;
}

.portal-footer-copyright {
    width: 100%;
    font-size: 14px;
    color: white;
    margin: auto 10px;
}